::selection {
  background-color: #2d64c1;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #2d64c1;
  border-radius: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  font-size: 14px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  /* background-color: #f5f5f5; */
}

main {
  flex: 1 0 auto;
  padding-bottom: 45px;
}

nav ul a.active {
  background: rgba(0, 0, 0, 0.2);
}

.caption {
  height: 100%;
  width: 25% !important;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  top: 0 !important;
  text-shadow: 0px 2px 2px black;
}

.caption h3,
.caption p {
  font-size: 2rem;
}

.caption a,
.caption button {
  text-shadow: 0px 2px 2px black;
}

.caption button {
  display: flex;
  align-items: center;
}

.caption svg {
  fill: white;
  filter: drop-shadow(0px 2px 2px black);
  transform: translateX(50%);
}

#azienda a {
  display: flex;
  justify-content: center;
}

#azienda button {
  display: flex;
  align-items: center;
}

.feature svg {
  transition: all 0.5s ease;
  /* box-shadow: inset 128px 128px 5px #ececec; */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  will-change: transform, fill, filter;
  fill: #1565c0 !important;
  position: relative;
}

.feature-icon {
  position: relative;
}

.feature-icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #ececec;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.feature:hover svg {
  fill: white !important;
  transform: scale(1.15, 1.15);
}

.feature:hover .feature-icon::before {
  background-color: #1565c0;
  filter: drop-shadow(0px 5px 5px #333);
}

.didattica-digitale,
.data-science {
  padding: 50px !important;
}

.didattica-digitale .icon,
.data-science .icon {
  position: relative;
}

.didattica-digitale .icon::before,
.data-science .icon::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background-color: #ececec;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s ease-out;
}

.didattica-digitale svg,
.data-science svg {
  transition: all 0.5s ease;
  width: 100px;
  height: 100px;
  line-height: 100px;
  position: relative;
}

.didattica-digitale svg path,
.data-science svg path {
  transition: all 0.5s ease-out;
}

.didattica-digitale:hover svg path,
.data-science:hover svg path {
  fill: white !important;
}

.didattica-digitale:hover .icon::before {
  background-color: #ff9800;
}

.data-science:hover .icon::before {
  background-color: #4caf50;
}

.move-icon-forward svg {
  transition: all 0.5s ease-out;
  transform: translateX(35%);
  fill: white;
}

.move-icon-forward:hover svg {
  transform: translateX(75%);
}

#destinatari a {
  display: flex;
  justify-content: center;
}

#destinatari button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#go-to-contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#go-to-contact:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#go-to-contact {
  transition: color 0.5s ease-out;
}

#go-to-contact svg {
  transition: transform 0.25s ease-out;
  transform: translateX(35%);
}

#go-to-contact:hover {
  color: white !important;
}

#go-to-contact:hover svg {
  fill: white;
}

#servizi > div > a {
  display: flex;
  justify-content: center;
}

#blog-btn {
  display: inline-flex;
  justify-content: center;
}

#blog-btn svg {
  transform: translateX(35%);
}

#servizi button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 30px;
}

.rounded .card-image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.rounded .card-action {
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
}

#in-evidenza {
  padding-bottom: 100px;
  background-image: url("http://www.educabile.it/img/contatti-1920.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#sedi {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#form {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#form button {
  display: inline-flex;
  align-items: center;
}

#form button svg {
  transform: translateX(-35%);
}

@media only screen and (max-width: 960px) {
  .caption {
    width: 100% !important;
    left: 0 !important;
    text-align: center;
  }

  .caption h3 {
    padding-top: 2.5em;
  }
}

#footer-logo {
  position: fixed;
  bottom: 41px !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 64px;
  z-index: 1;
  color: white;
  margin-bottom: -20px;
}

footer svg {
  filter: none;
  transition: all 0.5s ease;
}

footer svg path {
  will-change: fill;
  transition: fill 0.325s ease-out;
}

footer a:hover svg {
  filter: drop-shadow(0px 3px 4px #333);
}

footer a:hover:nth-child(1) svg g:nth-child(2) path {
  fill: #3b5998 !important;
}

footer a:hover:nth-child(2) svg g:nth-child(2) path {
  fill: #1da1f2 !important;
}

footer a:hover:nth-child(3) svg g:nth-child(2) path {
  fill: #dd4b39 !important;
}

footer a:hover:nth-child(4) svg g:nth-child(2) path {
  fill: #0077b5 !important;
}

footer a:hover:nth-child(5) svg g:nth-child(2) path {
  fill: red !important;
}

.hiddendiv {
  width: 100% !important;
}

@media (max-width: 768px) {
  main {
    padding-bottom: 0px;
  }

  footer {
    position: static;
  }

  footer .row {
    margin-bottom: 0px;
  }
}
